* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  height: 100%;
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: relative;
  background-color: #fff;
  padding: 30px 0;
}

.header.fixed {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #000;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav a {
  margin-left: 50px;
}

.nav a:first-child {
  margin-left: 0;
}

.nav a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  padding: 10px 3px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.burger__item {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000;
  color: transparent;
  font-size: 0;
}

.burger__item::before {
  content: '';
  display: block;
  width: 34px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 7px;
  background-color: #000;
}

.burger__item::after {
  content: '';
  display: block;
  width: 26px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 7px;
  background-color: #000;
}

.intro {
  height: calc(100vh - 50px);
  background: url(../img/background.jpg) no-repeat fixed;
  background-size: cover;
}

.intro__filter {
  height: 100%;
  background-color: rgba(10, 33, 60, 0.73);
}

.intro__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title {
  text-align: center;
  color: #fff;
  font-size: 80px;
  margin-bottom: 60px;
}

.button {
  padding: 15px 30px;
  background-color: #fff;
  font-size: 14px;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}

.button:hover {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 5px 5px #0030ff;
          box-shadow: 5px 5px #0030ff;
}

.about {
  padding: 140px 0 100px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img {
  -webkit-box-shadow: 10px 10px #b3278d;
          box-shadow: 10px 10px #b3278d;
}

.about__img img {
  display: block;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__subtitle {
  margin-bottom: 30px;
}

.about__button {
  display: inline-block;
  background-color: #0030ff;
  color: #fff;
  margin-top: 20px;
}

.about__button:hover {
  -webkit-box-shadow: 5px 5px #01197e;
          box-shadow: 5px 5px #01197e;
}

.portfolio {
  padding: 100px 0;
  background-color: #fafafa;
}

.portfolio__text {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
}

.portfolio__subtitle {
  margin: 20px 0 65px;
  color: #565656;
  font-size: 16px;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__col:first-child {
  margin-right: 30px;
}

.portfolio__img {
  width: 100%;
}

.portfolio__img:first-child {
  margin-bottom: 50px;
}

.footer {
  padding-top: 110px;
  background-color: #000415;
  color: #fff;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 60px;
  max-width: 700px;
}

.contact__wrapper {
  margin-top: 20px;
  text-transform: uppercase;
}

.logo-footer {
  color: #31d7ce;
}

.contact__text {
  margin-top: 20px;
  font-size: 18px;
}

.connect {
  max-width: 280px;
  margin-bottom: 20px;
  font-size: 14px;
}

.connect__item {
  position: relative;
}

.connect__item:last-child {
  margin-top: 35px;
}

.connect__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.connect__text {
  padding-left: 50px;
}

.copyright {
  font-size: 15px;
  color: #818181;
  padding: 40px 0;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
  .about {
    padding: 80px 0;
  }
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about__content {
    margin: 50px 18px 0;
  }
  .portfolio {
    padding: 80px 0;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 10px 0;
  }
  .intro__title {
    font-size: 60px;
  }
  .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: right;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #fafafa;
    position: absolute;
    top: 100%;
    right: 0;
  }
  .nav a {
    padding: 5px 30px;
  }
  .nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger {
    display: block;
  }
  .about__img img {
    width: 100%;
  }
  .portfolio__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__col:first-child {
    margin: 0 0 20px;
  }
  .portfolio__img:first-child {
    margin-bottom: 20px;
  }
  .footer {
    padding-top: 60px;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .contact__wrapper {
    padding-bottom: 30px;
  }
  .connect {
    max-width: none;
  }
  .connect__icon {
    position: static;
    margin-bottom: 10px;
  }
  .connect__text {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .intro__title {
    font-size: 40px;
  }
  .about__content {
    margin: 50px 0 0;
  }
  .about__title {
    font-size: 30px;
  }
  .portfolio__title {
    font-size: 30px;
  }
  .copyright p {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 0 10px;
  }
  .footer {
    padding-top: 20px;
  }
  .copyright {
    padding: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */